@model PetBD.Models.Category

@{
    ViewData["Title"] = "Delete-Product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-lg-6 grid-margin stretch-card mx-auto">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-center">Products</h3>
            <p class="card-description">
                    <a class="btn btn-outline-info" asp-action="Create">Add New</a>
                </p>
                <hr />
                <div>
                    <h3>Are you sure you want to delete <p class="text-black">"@Html.DisplayFor(model => model.Name)"?</p></h3>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a onclick="window.history.back();" class="btn btn-warning">Back</a>
                </form>
                </div>
        </div>
    </div>
</div>