@model PetBD.Models.Order
@using Microsoft.AspNetCore.Http
@using PetBD.Helpers

@{
    ViewData["Title"] = "Cart";
}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="text-success">Payment Successfull!</h2>
            <h6 class="text-info">Thanks for Purchasing!</h6>
        </div>
    </div>
</div>